@model IEnumerable<MyWebApp.Models.RedirectLog>
@{
    ViewData["Title"] = "Redirect Logs";
}

<h2>Redirect Logs</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>QR Id</th>
            <th>IP Address</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var log in Model)
    {
        <tr>
            <td>@log.Id</td>
            <td>@log.QRId</td>
            <td>@log.IpAddress</td>
            <td>@log.CreatedOn.ToString("g")</td>
        </tr>
    }
    </tbody>
</table>
